.first_block {
	display: flex;
	transition: padding-top .3s ease;

	@media screen and (min-width: 1px) {
		padding-top: 110px;
		flex-direction: column;
		height: auto;
	}

	@media screen and (min-width: 970px) {
		padding-top: 147px;
		flex-direction: row;
		height: 600px;
	}

	.info {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		text-align: center;
		color: #000000;

		@media screen and (min-width: 1px) and (max-width: 970px) {
			width: 100%;
		}

		h3 {
			font-size: 26px;
			font-weight: 700;
			line-height: 23px;
			padding: 0 45px 20px 45px;

			@media screen and (min-width: 1px) and (max-width: 970px) {
				font-size: 18px;

			}
		}

		h4 {
			font-size: 15px;
		}

		.button_catalog {
			width: 255px;
			display: flex;
			align-items: center;
			font-family: Oxygen, sans-serif;
			justify-content: center;
			height: 50px;
			margin: 23px auto 0px auto;
			background: #b13960;
			box-shadow: 0px 0px 20px 5px rgba(177, 57, 96, 1);
			color: #FFFFFF;
			text-decoration: none;
			font-size: 18px;
			transition: box-shadow, color .3s, .3s ease-in, ease;

			&:hover {
				box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
				background: #000000;
			}
		}

		h5 {
			padding-top: 145px;
			color: #c3416b;

			@media screen and (min-width: 1px) and (max-width: 970px) {
				padding-top: 20px;
			}

			.arrow_down {
				width: 11px;
				height: 18px;
				background: url($sprite) no-repeat -124px -89px;
				margin: 15px auto 30px auto;
			}
		}
	}

	.images {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 50%;

		@media screen and (min-width: 1px) and (max-width: 970px) {
			display: none;
		}

		.images__block {
			width: 50%;
			height: 300px;
			overflow: hidden;
			position: relative;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1);
				min-width: 100%;
				max-height: 100%;
				min-height: 100%;
				transition: transform .7s ease;

				&:hover {
					transform: translate(-50%, -50%) scale(1.2);
				}
			}
		}
	}

	.mobile_image {
		height: 400px;
		padding-bottom: 30px;
		@media screen and (min-width: 1px) {
			display: block;
		}

		@media screen and (min-width: 970px) {
			display: none;
		}

		.images__block {
			position: relative;
			top: 0;
			overflow: hidden;
			height: 100%;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				max-height: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
