doctype html
html(lang!="Ru-ru")
  head
    include sections/header.jade
  body
    include sections/navigation.jade
    include sections/first_block.jade
    include sections/second_block.jade
    include sections/third_block.jade
    include sections/fourth_block.jade
    include sections/slider.jade
    //- example form
    //
      div.main
        h3="Внимание"
        p="Оставьте ваши контактные данные и наш консультант<br/>свяжется с вами в течении 30 секунд"
        form#application(action="mail.php" method="POST" name="application")
          input#applicationName(name="name" maxlength="20" placeholder="Введите ваше имя" required)
          input#applicationEmail(name="email" type="email" maxlength="20" placeholder="Ваш E-mail" required)
          input#applicationTelephone(name="telephone" type="Tel" maxlength="20" placeholder="Ваш телефон")
          input(type="submit")
          div#app="Отправить"

    div#mail.not_visible_mail
    script!="var application = { main: true }"

    include sections/footer.jade  
