section.first_block
	.mobile_image
		.images__block
			img(src="images/kitchen1.jpg")
	.info
		.text
			h3.wow.animated.slideInLeft="Кухонные гарнитуры от производителя на 25 % дешевле, чем в салонах."
			h4.wow.animated.slideInLeft!="3D-проект кухни бесплатно <b class='diamond'> </b> Изготовление 21 день <b class='diamond'> </b> Доставка и сборка бесплатно"
			a(href="/catalog.html").wow.animated.slideInLeft.button_catalog="Перейти в каталог"
			h5
				span="Пару слов о нас"
				.arrow_down.wow.animated.bounceInDown
	.images
		.images__block
			img(src="images/kitchen1.jpg")
		.images__block
			img(src="images/kitchen2.jpg")
		.images__block
			img(src="images/kitchen3.jpg")
		.images__block
			img(src="images/kitchen4.jpg")
