//- Блок с мета тегами
meta(charset="utf-8")
meta(name="description" content="")
meta(name="Keywords" content="")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=480px")

//- Блок с линками на фавиконку
link(rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon")
link(rel="apple-touch-icon" href="img/favicon/favicon.png")
link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/favicon.png")
link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/favicon.png")

//- Подключение css
link(rel="stylesheet" href="/libs/flexslider/flexslider.css")
link(rel="stylesheet" href="/style.css") 
link(rel="stylesheet" href="/libs/oxygen_font/stylesheet.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
