section.main_block.main_block-white
	.images
		.images__block(style="background-image: url('images/block3.jpg')")
	.info
		.text
			h3.wow.animated.slideInLeft="Причина купить кухню у нас #2"
			p.wow.animated.slideInLeft="Мы гарантируем, что через 21 день после заключения договора, Вы получите собранный кухонный гарнитур, в противном случае мы сделаем Вам на него скидку 50%."
			p.wow.animated.slideInLeft="Мы гарантируем бесплатный ремонт всей нашей мебели в течении 18 месяцев с момента покупки."
			a(href="/catalog.html").wow.animated.slideInLeft.button_catalog="Перейти в каталог"
